---

global:
  # -- domain of this phpipam instance
  domain: "chart-example.local"
  podAnnotations: {}
  database:
    # -- name of the database
    name: "phpipam"
    # -- name of the database user, can not be "root"
    user: "phpipam"
    # -- password of the db user
    password: "phpipam"

phpipam:
  name: phpipam-web
  image:
    repository: phpipam/phpipam-www
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "v1.5.2"
    replicaCount: 1
  service:
    type: ClusterIP
    port: 80
  resources:
    # resources are not mapped yet and therefor not working
    requests:
       cpu: 50m
       memory: 32Mi
    limits:
       cpu: 1000m
       memory: 2048Mi
  # Add "key: value" widgets where the value is the intendated php script of the widget.
  # Will be mounted in the widgets folder.
  widgets: {}

cron:
  name: phpipam-cron
  image:
    repository: phpipam/phpipam-cron
    pullPolicy: IfNotPresent
    tag: "v1.5.2"
  scan_interval: 1h
  resources:
    # resources are not mapped yet and therefor not working
    requests:
       cpu: 50m
       memory: 32Mi
    limits:
       cpu: 1000m
       memory: 2048Mi

database:
  name: phpipam-db
  installed: true
  image:
    repository: mariadb
    pullPolicy: IfNotPresent
    tag: "10.11.4"
  service:
    type: ClusterIP
    port: 3306
  persistence:
    enabled: true
    size: 30Gi
    storageClassName: ""
  resources:
    # resources are not mapped yet and therefor not working
    requests:
       cpu: 50m
       memory: 128Mi
    limits:
       cpu: 1000m
       memory: 2048Mi


ingress:
  enabled: false
  className: "nginx"
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

nodeSelector: {}
